@page "/data/songs/{Filter?}"
@using System.Security.Claims
@using Melodee.Common.Enums
@using Melodee.Common.Filtering
@using Melodee.Common.Models.Collection
@using FilterOperator = Melodee.Common.Filtering.FilterOperator
@using Melodee.Mql.Interfaces
@inherits MelodeeComponentBase

@inject MainLayoutProxyService MainLayoutProxyService
@inject ILogger Logger
@inject IMelodeeConfigurationFactory ConfigurationFactory
@inject SongService SongService
@inject IMqlSearchService MqlSearchService
@inject StatisticsService StatisticsService
@inject NotificationService NotificationService
@inject DialogService DialogService
@inject NavigationManager NavigationManager

<PageTitle>@L("Navigation.Songs")</PageTitle>

<RadzenStack Style="height: 100%">
    <RadzenBreadCrumb Class="rz-pb-5">
        <RadzenBreadCrumbItem Path="/" Text="@L("Navigation.Dashboard")"/>
        <RadzenBreadCrumbItem Icon="music_note" Text="@L("Navigation.Songs")"/>
    </RadzenBreadCrumb>
    <RadzenRow>
        <RadzenPanel class="rz-w-100" AllowCollapse="true">
            <HeaderTemplate>
                <RadzenText TextStyle="TextStyle.H6" class="rz-display-flex rz-align-items-center rz-m-0">
                    <RadzenIcon Icon="monitoring" class="rz-me-1"/>
                    @L("Data.Statistics")
                </RadzenText>
            </HeaderTemplate>
            <ChildContent>
                <RadzenStack
                    Orientation="Orientation.Horizontal"
                    Wrap="FlexWrap.Wrap"
                    JustifyContent="JustifyContent.Left"
                    class="rz-p-2"
                    Gap="8px">
                    @foreach (var statistic in _statistics)
                    {
                        <RadzenBadge @onclick="@(() => StatClickAsync(statistic))"
                                     BadgeStyle="DetermineBadgeStyle(statistic)"
                                     Shade="Shade.Dark"
                                     title="@L("Data.ClickToFilterSongs")"
                                     Style="min-width: 200px;cursor:pointer;">
                            <RadzenIcon Icon="@statistic.Icon"/>
                            <RadzenIcon Icon="filter_alt"/>
                            <div style="width:120px;display:inline-block;text-transform:none;text-align:left;">
                                @LocalizeStatisticTitle(statistic.Title)
                            </div>
                            <div style="width:100px;display:inline-block;text-align:right;" title="@statistic.Message">
                                @if (statistic.Type == StatisticType.Count)
                                {
                                    @($"{((int)statistic.Data).ToStringPadLeft(ViewConstants.StatisticNumberPadLength)}")
                                }
                                else
                                {
                                    @statistic.Data
                                }
                            </div>
                        </RadzenBadge>
                    }
                </RadzenStack>
            </ChildContent>
        </RadzenPanel>
    </RadzenRow>
    <RadzenRow AlignItems="AlignItems.Center">
        <RadzenColumn Size="12" SizeMD="6">
            <RadzenText Text="@L("Navigation.Songs")" TextStyle="TextStyle.DisplayH6" TagName="TagName.H1" style="margin: 0"/>
        </RadzenColumn>
        <RadzenColumn Size="12" SizeMD="6" Visible="CurrentUser?.IsEditor() ?? false">
            <RadzenStack
                Orientation="Orientation.Horizontal"
                AlignItems="AlignItems.Center"
                JustifyContent="JustifyContent.End"
                Gap="0.5rem">
                <RadzenButton Icon="delete" Disabled="!_selectedSongs.Any()" Text="@L("Actions.Delete")"
                              Click="@DeleteSelectedButtonClick"
                              Size="ButtonSize.Small"
                              ButtonStyle="ButtonStyle.Warning"/>
            </RadzenStack>
        </RadzenColumn>
    </RadzenRow>
    <DebounceInput class="rz-textbox rz-w-100"
                   autocomplete="off"
                   @bind-Value="@_debounceInputValue"
                   @bind-Value:event="OnInput"
                   DebounceTime="800"
                   MinLength="3"
                   OnValueChanged="@DoSearchAsync"
                   ForceNotifyByEnter="true"
                   ForceNotifyOnBlur="true"/>
    <RadzenRow Style="flex: 1; overflow: hidden;">
        <RadzenDataGrid
            @ref="_grid"
            Style="height: 100%"
            IsLoading="@_isLoading"
            Count="@_count"
            Data="@_songs"
            LoadData="@LoadData"
            AllowSorting="true"
            AllowFiltering="true"
            AllowRowSelectOnRowClick="false"
            AllowPaging="true"
            Page="OnPage"
            PageSize="DefaultPageSize"
            PagerHorizontalAlign="HorizontalAlign.Center"
            ShowPagingSummary="true"
            PageSizeOptions="@PageSizeOptions"
            PageSizeText="@GridPageSizeText"
            EmptyText="@GridEmptyText"
            ColumnWidth="200px"
            SelectionMode="DataGridSelectionMode.Multiple"
            @bind-Value="@_selectedSongs">
            <PagingSummaryTemplate>
                <RadzenIcon Icon="database"
                            Style="color: var(--rz-primary); font-size: var(--rz-pager-summary-font-size);"/>
                @L("Grid.DisplayingPage")
                @context.CurrentPage @L("Grid.OfPages") @context.NumberOfPages <b>(@L("Grid.TotalRecords", context.TotalCount))</b>
            </PagingSummaryTemplate>
            <Columns>
                <RadzenDataGridColumn Width="60px" Sortable="false" Filterable="false">
                    <HeaderTemplate>
                        <RadzenCheckBox
                            TabIndex="-1"
                            TriState="false"
                            TValue="bool?"
                            InputAttributes="@(new Dictionary<string, object> { { "aria-label", "Select all items" } })"
                            Value="@(_selectedSongs.Any() != true ? false : !_songs.All(i => _selectedSongs.Contains(i)) ? null : _songs.Any(i => _selectedSongs.Contains(i)))"
                            Change="@(args => _selectedSongs = args == true ? _songs.ToList() : [])"/>
                    </HeaderTemplate>
                    <Template Context="data">
                        <RadzenIcon Icon="lock" IconColor="@Colors.Warning" Visible="@(data.IsLocked)"
                                    title="@L("Data.SongLockedMessage")"/>
                        <RadzenCheckBox
                            TabIndex="-1"
                            TriState="false"
                            Value="@(_selectedSongs.Contains(data))"
                            InputAttributes="@(new Dictionary<string, object> { { "aria-label", "Select item" } })"
                            Change="@(_ => { _grid.SelectRow(data); })"
                            Visible="@(!data.IsLocked)"
                            TValue="bool"/>
                    </Template>
                </RadzenDataGridColumn>
                <RadzenDataGridColumn Property="@nameof(SongDataInfo.Title)" Title="@L("Data.Title")" Width="300px">
                    <Template Context="data">
                        <RadzenButton Style="float:right;margin-top: 7px;" Visible="@(CurrentUser?.IsEditor() ?? false)"
                                      Size="ButtonSize.ExtraSmall"
                                      Click=@(_ => NavigationManager.NavigateTo($"/data/songedit/{data.ApiKey}"))
                                      Icon="edit" ButtonStyle="ButtonStyle.Secondary"/>
                        <RadzenLink text="@data.Title" class="rz-text-wrap" Path="@($"/data/song/{data.ApiKey}")"/>
                    </Template>
                </RadzenDataGridColumn>
                <RadzenDataGridColumn Property="@nameof(SongDataInfo.AlbumName)" Title="@L("Data.Album")" Width="150px">
                    <Template Context="data">
                        <RadzenLink text="@data.AlbumName" class="rz-text-wrap"
                                    Path="@($"/data/album/{data.AlbumApiKey}")"/>
                    </Template>
                </RadzenDataGridColumn>
                <RadzenDataGridColumn Property="@nameof(SongDataInfo.ArtistName)" Title="@L("Data.Artist")" Width="150px">
                    <Template Context="data">
                        <RadzenLink text="@data.ArtistName" class="rz-text-wrap"
                                    Path="@($"/data/artist/{data.ArtistApiKey}")"/>
                    </Template>
                </RadzenDataGridColumn>
                <RadzenDataGridColumn Property="@nameof(SongDataInfo.SongNumber)" Title="@L("Data.SongNumber")" Width="90px">
                    <Template Context="data">
                        <RadzenText Text="@CurrentUser?.FormatNumber(data.SongNumber)"/>
                    </Template>
                </RadzenDataGridColumn>
                <RadzenDataGridColumn Property="@nameof(SongDataInfo.FileSize)" Title="@L("Data.FileSize")" Width="120px">
                    <Template Context="data">
                        <RadzenText Text="@data.FileSize.FormatFileSize()"/>
                    </Template>
                </RadzenDataGridColumn>
                <RadzenDataGridColumn Property="@nameof(SongDataInfo.Duration)" Title="@L("Data.Duration")" Width="120px">
                    <Template Context="data">
                        <RadzenText Text="@data.Duration.ToFormattedDateTimeOffset()"/>
                    </Template>
                </RadzenDataGridColumn>
                <RadzenDataGridColumn Property="@nameof(SongDataInfo.CreatedAt)" Title="@L("Data.Created")" Filterable="false"
                                      Width="100px">
                    <Template Context="data">
                        <RadzenText Text="@CurrentUser?.FormatInstant(data.CreatedAt)"/>
                    </Template>
                </RadzenDataGridColumn>
                <RadzenDataGridColumn Property="@nameof(SongDataInfo.UserStarred)" Title="@L("Data.Loved")" Filterable="true"
                                      Width="70px">
                    <Template Context="data">
                        <RadzenCheckBox Value="@data.UserStarred"/>
                    </Template>
                </RadzenDataGridColumn>
                <RadzenDataGridColumn Property="@nameof(SongDataInfo.UserRating)" Title="@L("Data.Rating")" Filterable="true"
                                      Width="70px">
                    <Template Context="data">
                        <RadzenText Text="@(data.UserRating.ToString())"/>
                    </Template>
                </RadzenDataGridColumn>
                <RadzenDataGridColumn Property="@nameof(SongDataInfo.Tags)" Title="@L("Data.Tags")" Width="100px">
                    <Template Context="data">
                        <RadzenStack Orientation="Orientation.Horizontal" Wrap="FlexWrap.Wrap" Gap="5px">
                            @foreach (var name in data.Tags?.ToTags() ?? [])
                            {
                                <RadzenBadge IsPill="true" BadgeStyle="BadgeStyle.Primary" Text="@name"/>
                            }
                        </RadzenStack>
                    </Template>
                </RadzenDataGridColumn>
            </Columns>
        </RadzenDataGrid>
    </RadzenRow>
</RadzenStack>

@code {
    Statistic[] _statistics = [];
    bool _yourFavoriteSongsFilterSet;
    bool _yourRatedSongsFilterSet;
    string _persistentMqlFilter = string.Empty;

    RadzenDataGrid<SongDataInfo> _grid = null!;
    int _count;
    IEnumerable<SongDataInfo> _songs = null!;
    bool _isLoading;
    int _currentPage = 1;
    IList<SongDataInfo> _selectedSongs = [];

    string _debounceInputValue = "";

    [Parameter] public string? Filter { get; set; }

    void OnPage(PagerEventArgs args)
    {
        _currentPage = args.PageIndex + 1;
    }

    protected override async Task OnInitializedAsync()
    {
        await base.OnInitializedAsync();
        var statResult = await StatisticsService.GetUserSongStatisticsAsync(SafeParser.ToGuid(CurrentUser?.FindFirstValue(ClaimTypes.Sid) ?? string.Empty) ?? Guid.Empty);
        _statistics = statResult?.Data ?? [];
    }

    protected override async Task OnParametersSetAsync()
    {
        if (Filter != null)
        {
            // Convert URL filter to MQL fragment, e.g., "Title_Hello" -> 'title contains "Hello"'
            var filterParts = Filter.Split("_");
            if (filterParts.Length >= 2)
            {
                var property = MapPropertyToMqlField(filterParts[0]); // Helper to map, e.g., "Title" -> "title"
                var value = filterParts[1];
                _persistentMqlFilter = $"{property} contains \"{value}\"";
                await LoadData(new LoadDataArgs()); // Trigger reload with MQL
            }
        }
    }

    async Task LoadData(LoadDataArgs args)
    {
        _isLoading = true;
        MainLayoutProxyService.ToggleSpinnerVisible();
        try
        {
            var mqlQuery = BuildMqlQuery(args, _debounceInputValue.Nullify());
            var paging = new PagedRequest
            {
                Page = _currentPage,
                PageSize = SafeParser.ToNumber<short>(args.Top ?? DefaultPageSize)
            };

            // Assuming MqlSearchService.SearchSongsAsync returns PagedResult<SongDataInfo>
            var result = await MqlSearchService.SearchSongsAsync(mqlQuery, paging, CurrentUser!.UserId());
            _songs = result.Data;
            _count = SafeParser.ToNumber<int>(result.TotalCount);
        }
        catch (Exception e)
        {
            Logger.Error(e, "Loading Songs with MQL");
            // Fallback: Could use original SongService.ListAsync if MQL fails
        }
        finally
        {
            MainLayoutProxyService.ToggleSpinnerVisible();
            _isLoading = false;
        }
    }

    private string BuildMqlQuery(LoadDataArgs args, string? searchTerm)
    {
        var baseQuery = "select * from songs";
        var whereClauses = new List<string>();
        var orderByClauses = new List<string>();

        // Persistent filters from stats clicks
        if (!string.IsNullOrEmpty(_persistentMqlFilter))
        {
            whereClauses.Add(_persistentMqlFilter);
        }

        // Debounce search as MQL
        if (!string.IsNullOrEmpty(searchTerm))
        {
            whereClauses.Add($"title contains \"{searchTerm.ToNormalizedString()}\"");
        }

        // Grid filters to MQL
        if (args.Filters?.Any() == true)
        {
            foreach (var filter in args.Filters)
            {
                var mqlField = MapPropertyToMqlField(filter.Property ?? string.Empty);
                var mqlOperator = MapFilterOperator(filter.FilterOperator);
                var value = SafeParser.ToString(filter.Value); // Escape as needed
                whereClauses.Add($"{mqlField} {mqlOperator} {value}");
            }
        }

        // Grid sorts to MQL
        if (args.Sorts?.Any() == true)
        {
            foreach (var sort in args.Sorts)
            {
                var mqlField = MapPropertyToMqlField(sort.Property ?? string.Empty);
                var direction = sort.SortOrder == SortOrder.Ascending ? "asc" : "desc";
                orderByClauses.Add($"{mqlField} {direction}");
            }
        }

        var query = baseQuery;
        if (whereClauses.Any())
        {
            query += " where " + string.Join(" and ", whereClauses);
        }
        if (orderByClauses.Any())
        {
            query += " order by " + string.Join(", ", orderByClauses);
        }

        // Default sort if none
        if (!orderByClauses.Any())
        {
            query += " order by title asc";
        }

        return query;
    }

    private string MapPropertyToMqlField(string property)
    {
        // Map Radzen properties to MQL fields (extend as needed)
        return property.ToLower() switch
        {
            nameof(SongDataInfo.Title) => "title",
            nameof(SongDataInfo.AlbumName) => "album.name",
            nameof(SongDataInfo.ArtistName) => "artist.name",
            nameof(SongDataInfo.SongNumber) => "songNumber",
            nameof(SongDataInfo.FileSize) => "fileSize",
            nameof(SongDataInfo.Duration) => "duration",
            nameof(SongDataInfo.CreatedAt) => "createdAt",
            nameof(SongDataInfo.UserStarred) => "userStarred",
            nameof(SongDataInfo.UserRating) => "userRating",
            nameof(SongDataInfo.Tags) => "tags",
            _ => property.ToLower()
        };
    }

    private string MapFilterOperator(Radzen.FilterOperator op)
    {
        // Map Radzen operators to MQL (extend for more)
        return op switch
        {
            Radzen.FilterOperator.Contains => "contains",
            Radzen.FilterOperator.Equals => "equals",
            Radzen.FilterOperator.GreaterThan => "gt",
            Radzen.FilterOperator.LessThan => "lt",
            _ => "equals"
        };
    }

    private void AddButtonClick()
    {
        NavigationManager.NavigateTo($"/data/albumedit/{Guid.Empty}");
    }

    private async Task DeleteSelectedButtonClick()
    {
        var confirm = await DialogService.Confirm(L("Messages.ConfirmDelete"), L("Data.ConfirmDelete"), new ConfirmOptions { OkButtonText = L("Actions.Yes"), CancelButtonText = L("Actions.No") });
        if (confirm ?? false)
        {
            var deleteResult = await SongService.DeleteAsync(_selectedSongs.Select(x => x.Id).ToArray());
            if (deleteResult.IsSuccess)
            {
                NotificationService.Notify(NotificationMessageForResult(deleteResult, L("Data.DeletingSongs"), ToastTime));
                await _grid.RefreshDataAsync();
                return;
            }

            NotificationService.Notify(NotificationMessageForResult(deleteResult, L("Data.DeletingSongs"), ToastTime));
        }
    }

    private async Task DoSearchAsync(string s)
    {
        // Clear grid filters to rely on MQL
        foreach (var column in _grid.ColumnsCollection)
        {
            column.ClearFilters();
        }
        await LoadData(new LoadDataArgs { Sorts = _grid.Sorts, Filters = [] }); // Preserve sorts, ignore grid filters for search
    }

    private async void MergeSelectedButtonClick()
    {
        await DialogService.OpenAsync(L("Data.MergeSongs"), ds =>
            @<div>
                <RadzenText>@L("Data.SongMergingInfo")</RadzenText>
                <RadzenButton Text="@L("Data.OK")" Click="@(() => ds.Close())" class="rz-mt-3"/>
            </div>,
            new DialogOptions { Width = "500px" });
    }

    private async Task StatClickAsync(Statistic statistic)
    {
        var userId = CurrentUser!.UserId().ToString();
        if (statistic.Title.ToNormalizedString() == L("Data.YourFavoriteSongs").ToNormalizedString())
        {
            _yourFavoriteSongsFilterSet = !_yourFavoriteSongsFilterSet;
            if (_yourFavoriteSongsFilterSet)
            {
                _persistentMqlFilter += (_persistentMqlFilter.Contains("where") ? " and " : " where ") + $"userStarred = true and userId = '{userId}'";
            }
            else
            {
                _persistentMqlFilter = _persistentMqlFilter.Replace($"userStarred = true and userId = '{userId}'", "").Replace(" where ", " ").Trim();
                if (_persistentMqlFilter.StartsWith("and ")) _persistentMqlFilter = _persistentMqlFilter[4..];
            }
        }

        if (statistic.Title.ToNormalizedString() == L("Data.YourRatedSongs").ToNormalizedString())
        {
            _yourRatedSongsFilterSet = !_yourRatedSongsFilterSet;
            if (_yourRatedSongsFilterSet)
            {
                _persistentMqlFilter += (_persistentMqlFilter.Contains("where") ? " and " : " where ") + $"userRating > 0 and userId = '{userId}'";
            }
            else
            {
                _persistentMqlFilter = _persistentMqlFilter.Replace($"userRating > 0 and userId = '{userId}'", "").Replace(" where ", " ").Trim();
                if (_persistentMqlFilter.StartsWith("and ")) _persistentMqlFilter = _persistentMqlFilter[4..];
            }
        }

        await _grid.RefreshDataAsync();
    }

    private BadgeStyle DetermineBadgeStyle(Statistic statistic)
    {
        if (_yourFavoriteSongsFilterSet && statistic.Title.ToNormalizedString() == L("Data.YourFavoriteSongs").ToNormalizedString())
        {
            return BadgeStyle.Warning;
        }

        if (_yourRatedSongsFilterSet && statistic.Title.ToNormalizedString() == L("Data.YourRatedSongs").ToNormalizedString())
        {
            return BadgeStyle.Warning;
        }

        return BadgeStyle.Info;
    }
}
