@page "/about"
@using System.Globalization
@using System.Runtime.InteropServices
@using NodaTime
@inherits MelodeeComponentBase

@inject IMelodeeConfigurationFactory MelodeeConfigurationFactory
@inject NavigationManager NavigationManager
@inject IAppVersionProvider AppVersionProvider

<PageTitle>@L("Navigation.About")</PageTitle>

<RadzenStack Gap="1rem">
    <RadzenText TextStyle="TextStyle.H4">@L("About.Title", new object[] { _siteTitle })</RadzenText>

    <RadzenRow>
      <RadzenStack Orientation="Orientation.Horizontal" AlignItems="AlignItems.Center" Gap="0.5rem">
        <RadzenButton Text="@L("About.ApiDocs")" Icon="description" ButtonStyle="ButtonStyle.Info" Size="ButtonSize.Small" Style="margin-top: 0.5rem;" Click="@(() => NavigationManager.NavigateTo("/swagger", forceLoad: true))" />
        <a href="https://melodee.org" target="_blank" rel="noopener noreferrer">
          <RadzenButton Text="@L("About.DocumentationSite")" Icon="menu_book" ButtonStyle="ButtonStyle.Primary" Size="ButtonSize.Small" Style="margin-top: 0.5rem;" />
        </a>
      </RadzenStack>
    </RadzenRow>

    <RadzenRow>
        <RadzenColumn Size="12" SizeMD="6">
            <RadzenCard>
                <RadzenStack Gap="0.25rem">
                    <RadzenText TextStyle="TextStyle.Overline">@L("About.ServerTime")</RadzenText>
                    <RadzenText TextStyle="TextStyle.Caption">@L("About.UTC")</RadzenText>
                    <RadzenText TextStyle="TextStyle.H6">@_serverNowUtc.InUtc().LocalDateTime.ToString("yyyy-MM-dd HH:mm:ss", CultureInfo.InvariantCulture)</RadzenText>
                    <RadzenText TextStyle="TextStyle.Caption">@L("About.YourTime", new object[] { CurrentUser?.TimeZoneId() ?? "" })</RadzenText>
                    <RadzenText TextStyle="TextStyle.H6">@(CurrentUser?.FormatInstant(_serverNowUtc) ?? MelodeeConfiguration.DefaultNoValuePlaceHolder)</RadzenText>
                </RadzenStack>
            </RadzenCard>
        </RadzenColumn>

        <RadzenColumn Size="12" SizeMD="6">
            <RadzenCard>
                <RadzenStack Gap="0.25rem">
                    <RadzenText TextStyle="TextStyle.Overline">@L("About.SystemInformation")</RadzenText>
                    <RadzenText TextStyle="TextStyle.Caption">@L("About.Platform")</RadzenText>
                    <RadzenText TextStyle="TextStyle.H6">@RuntimeInformation.FrameworkDescription</RadzenText>
                    <RadzenText TextStyle="TextStyle.Caption">@L("About.Version")</RadzenText>
                    <RadzenText TextStyle="TextStyle.H6">@AppVersionProvider.GetSemVerForDisplay()</RadzenText>
                </RadzenStack>
            </RadzenCard>
        </RadzenColumn>
    </RadzenRow>

    <RadzenCard>
        <RadzenStack Gap="0.5rem">
            <RadzenText TextStyle="TextStyle.H6" Text="@L("About.ServerDetails")"/>
            <RadzenDataGrid TItem="KeyValue"
                            Data="@_serverStats.OrderBy(x => x.Key)"
                            AllowPaging="false"
                            AllowSorting="false"
                            AllowFiltering="true"
                            FilterCaseSensitivity="FilterCaseSensitivity.CaseInsensitive"
                            Density="Density.Compact">
                <Columns>
                    <RadzenDataGridColumn TItem="KeyValue" Property="Key" Title="@L("About.Property")" Width="320px" />
                    <RadzenDataGridColumn TItem="KeyValue" Title="@L("About.Value")">
                        <Template Context="kv">@((MarkupString)(kv.Value ?? string.Empty))</Template>
                    </RadzenDataGridColumn>
                </Columns>
            </RadzenDataGrid>
        </RadzenStack>
    </RadzenCard>

    <RadzenCard>
        <RadzenStack Gap="0.5rem">
            <RadzenText TextStyle="TextStyle.H6" Text="@L("About.AboutMelodee")"/>
            <RadzenText TextStyle="TextStyle.Body1">
                @L("About.Description")
            </RadzenText>
            <RadzenText TextStyle="TextStyle.Body2">
                @L("About.ForMoreInfo") <RadzenLink Path="https://github.com/melodee-project" Text="@L("About.GitHubProject")" Target="_blank" />.
            </RadzenText>
        </RadzenStack>
    </RadzenCard>
</RadzenStack>

@code {

    string _siteTitle = string.Empty;
    Instant _serverNowUtc;
    readonly List<KeyValue> _serverStats = [];

    protected override async Task OnInitializedAsync()
    {
        await base.OnInitializedAsync();

        _serverNowUtc = SystemClock.Instance.GetCurrentInstant();

        var configuration = await MelodeeConfigurationFactory.GetConfigurationAsync();
        _siteTitle = configuration.GetValue<string>(SettingRegistry.SystemSiteName) ?? SettingDefaults.DefaultSiteName;

        _serverStats.Add(new KeyValue(L("About.Platform"), RuntimeInformation.OSDescription));
        _serverStats.Add(new KeyValue(L("About.Architecture"), RuntimeInformation.OSArchitecture.ToString()));
        _serverStats.Add(new KeyValue(L("About.DotNetRuntime"), RuntimeInformation.FrameworkDescription));
        _serverStats.Add(new KeyValue(L("About.Application"), L("About.ApplicationName")));
        _serverStats.Add(new KeyValue(L("About.Version"), AppVersionProvider.GetSemVerForDisplay()));
        _serverStats.Add(new KeyValue(L("About.GitHub"), "<a target=\"_blank\" href=\"https://github.com/melodee-project\">melodee-project</a>"));
    }

}
